!!!

%html.no-js{lang: "en"}

  %head
    %meta{http: {equiv: "X-UA-Compatible"}, content:"IE=edge"}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "robots", content: "noindex,nofollow"}
    %meta{name: "description", content: "Richmond is a point of pride in Metro Vancouver. A coastal city with outdoor beauty, diverse communities and a thriving metropolitan scene. One that’s closely linked to Vancouver by the SkyTrain and connected to the world by YVR. Its culture and history give it charm, while its continued growth, restaurants and international influence create an unmistakable energy"}

    %title Richmond Centre

    %link{rel: "icon", type: "image/png", href: "http://www.liveatcfrc.com/assets/images/favicon-32x32.png", sizes: "32x32"}
    %link{rel: "icon", type: "image/png", href: "http://www.liveatcfrc.com/assets/images/favicon-16x16.png", sizes: "16x16"}

    %link{rel: "image_src", href: ""}

    %meta{property: "og:title", content: ""}
    %meta{property: "og:type", content: ""}
    %meta{property: "og:url", content: ""}
    %meta{property: "og:image", content: ""}
    %meta{property: "og:site_name", content: ""}
    %meta{property: "og:description", content: ""}

    %link{rel: "stylesheet", media: "all", href: "http://www.liveatcfrc.com/assets/app.css"}

    // Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-54CTVPT');
      // End Google Tag Manager

  %body
    // Google Tag Manager (noscript)
    %noscript
      %iframe{src: "https://www.googletagmanager.com/ns.html?id=GTM-54CTVPT", height: "0", width: "0", style: "display:none;visibility:hidden"}
    // End Google Tag Manager (noscript)

    %header
      .container
        .d-flex.justify-content-end
          %ul.list-inline.header-links
            %li.list-inline-item
              %a{href: "http://www.liveatcfrc.com/zh"} 中文
            %li.list-inline-item
              %span Previews 2019
            %li.list-inline-item
              %a.highlight{href: "#spark-registration-form"} Register Now

        .row
          .col
            %h1{title: "Live at Richmond Centre"}
              %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/live-at-richmond-centre.svg", alt: "Live at Richmond Centre image"}

        %hr

        .row
          .col
            %h3.divider-after
              The heart of Richmond is about to
              %br
              become a whole lot more&nbsp;incredible.

    .carousel
      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-arial-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-arial-sm-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-sm-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-arial-767.jpg", alt: "Richmond Centre Arial Image"}

        .callouts
          %a.callout.callout-1{tabindex: "0", data: {toggle: "popover", placement: "left", content: "New Central Plaza", container: ".callouts"}}
          %a.callout.callout-2.callout-square{tabindex: "0", data: {toggle: "popover", placement: "bottom", content: "Brighouse Skytrain Station", container: ".callouts"}} T
          %a.callout.callout-3{tabindex: "0", data: {toggle: "popover", placement: "bottom", content: "Future Presentation Centre", container: ".callouts"}}
          %a.callout.callout-4.callout-arrow{tabindex: "0", data: {toggle: "popover", placement: "right", content: "To YVR", container: ".callouts"}}
          %a.callout.callout-5.callout-arrow{tabindex: "0", data: {toggle: "popover", placement: "right", content: "To Richmond Hospital", container: ".callouts"}}
          %a.callout.callout-6{tabindex: "0", data: {toggle: "popover", placement: "left", content: "Sky Gardens", container: ".callouts"}}
          %a.callout.callout-7.callout-arrow{tabindex: "0", data: {toggle: "popover", placement: "right", content: "To Minoru Park, Public Library, Aquatic Centre, Minoru Oval", container: ".callouts"}}
          %a.callout.callout-8{tabindex: "0", data: {toggle: "popover", placement: "top", content: "Richmond School Board", container: ".callouts"}}
          %a.callout.callout-9{tabindex: "0", data: {toggle: "popover", placement: "left", content: "Richmond City Hall", container: ".callouts"}}
        .caption Artist Conceptual Rendering Only

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-01-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-01-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption.caption-black Artist Conceptual Rendering Only

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-02-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-02-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption.caption-black Artist Conceptual Rendering Only

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-03-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-03-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption.caption-black Artist Conceptual Rendering Only

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-04-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-04-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption.caption-black Artist Conceptual Rendering Only

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-05-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-05-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption.caption-black Artist Conceptual Rendering Only

    .container
      .row
        .col
          .columns
            %p Richmond is a point of pride in Metro Vancouver. A coastal city with outdoor beauty, diverse communities and a thriving metropolitan scene. One that’s closely linked to Vancouver by the SkyTrain and connected to the world by YVR. Its culture and history give it charm, while its continued growth, restaurants and international influence create an unmistakable&nbsp;energy.
            %p At Richmond’s heart, CF Richmond Centre will transform from a world class shopping centre into a world class master planned destination. There will be something for everyone; boutique street front shopping districts that complement international brands. Tranquil public open spaces nestled amongst the lively streets and open plazas. And more than 2,000 homes throughout, offering lifestyles as diverse as the neighbourhoods they’re found in. Today, Minoru Park, City Hall, SkyTrain’s Canada Line and the existing shopping centre make this area the cultural heart of the city and one of the most significant locations in Metro Vancouver. When complete, it will celebrate the character of Richmond among the features that define the world’s best&nbsp;cities.

      %hr

      %h4
        %em The Eight Ways
        CF Richmond Centre Will Create Value For Its&nbsp;Residents:

      .row.eight-points
        .col-6.col-md-3
          %h5.divider-after
            01.
            %br
            A Visionary
            %br
            Master Plan
          %p A 27-acre mixed-use, master planned community in the heart of&nbsp;Richmond.

        .col-6.col-md-3
          %h5.divider-after
            02.
            %br
            Transit at
            %br
            your&nbsp;door
          %p SkyTrain’s Canada Line is across the street, connecting CF Richmond Centre to YVR, downtown Vancouver and all of Metro&nbsp;Vancouver.

        .col-6.col-md-3
          %h5.divider-after
            03.
            %br
            Richmond’s
            %br Best Location
          %p The most central and connected part of Richmond with Minoru Park, City Hall and world class retail directly&nbsp;linked.

        .col-6.col-md-3
          %h5.divider-after
            04.
            %br
            Shop, Dine
            %br
            &amp;&nbsp;Entertain
          %p New open-air street fronts with shops, restaurants and entertainment will be added, transforming CF Richmond Centre from a top calibre shopping centre to a complete shopping&nbsp;destination.

        .col-6.col-md-3
          %h5.divider-after
            05.
            %br
            Service &amp;
            %br
            Security
          %p Onsite services and security including concierge, valet and landscapers will be paired with the security of investing in a long term, financially stable master&nbsp;plan.

        .col-6.col-md-3
          %h5.divider-after
            06.
            %br
            Homes
            %br
            &amp;&nbsp;Design
          %p Sophisticated designs, city views, expansive terraces and upscale features including A/C and luxury appliances will come together to create an exclusive living&nbsp;experience.

        .col-6.col-md-3
          %h5.divider-after
            07.
            %br
            Private
            %br
            Amenities
          %p Over 150,000 sq.ft. of amenities including serene outdoor sky gardens for the exclusive use of&nbsp;residents.

        .col-6.col-md-3
          %h5.divider-after
            08.
            %br
            Exceptional
            %br
            Value
          %p Cadillac Fairview and SHAPE have teamed up to create a vibrant new community with long-term value for homebuyers, retailers and&nbsp;the Richmond&nbsp;community.

      %hr

      %h2 Register Now

      %form#spark-registration-form{action: "", accept_charset: "UTF-8", method: "post"}
        %input{type: "hidden", name: "source", value: "RC1 Web Registration"}
        %input{type: "hidden", name: "redirect_success", value: "http://liveatcfrc.com/thank-you.html"}
        %input{type: "hidden", name: "are_you_simulated", placeholder: "leave this field blank"}
        %input{type: "hidden", name: "utf8", value: "&#x2713;"}

        .row
          .col-sm-6.form-group
            %input.form-control{type: "text", placeholder: "First Name", name: "contact[first_name]", required: true}

          .col-sm-6.form-group
            %input.form-control{type: "text", placeholder: "Last Name", name: "contact[last_name]", required: true}

        .row
          .col-sm-6.form-group
            %input.form-control{type: "text", placeholder: "Email", name: "contact[email]", required: true}

          .col-sm-6.form-group
            %input.form-control.input-phone{type: "text", placeholder: "Phone", name: "contact[phone]"}

        .row
          .col-sm-6.form-group
            %input.form-control.input-postal{type: "text", placeholder: "Postal Code", name: "contact[postcode]", required: true}

          .col-sm-6.form-group
            %select.form-control{name: "answers[4387][answers]"}
              %option{value: ""} How did you hear about us?
              %option{value: "Online Search"} Online Search
              %option{value: "Realtor"} Realtor
              %option{value: "Signage/Walk by/Drive by"} Signage/Walk by/Drive by
              %option{value: "Email Outreach"} Email Outreach
              %option{value: "Community Newspaper"} Community Newspaper
              %option{value: "Chinese Newspaper"} Chinese Newspaper
              %option{value: "Friends and Family"} Friends and Family

        .row
          .col-sm-6.form-group
            %p Are you a realtor?
            .form-check.form-check-inline
              %input.form-check-input{type: "radio", name: "answers[4390][answers]", id: "answers_4390_yes", value: "Yes"}
              %label.form-check-label{for: "answers_4390_yes"} Yes
            .form-check.form-check-inline
              %input.form-check-input{type: "radio", name: "answers[4390][answers]", id: "answers_4390_no", value: "No"}
              %label.form-check-label{for: "answers_4390_no"} No

          .col-sm-6.form-group
            %p Are you working with a realtor?
            .form-check.form-check-inline
              %input.form-check-input{type: "radio", name: "answers[4389][answers]", id: "answers_4389_yes", value: "Yes"}
              %label.form-check-label{for: "answers_4389_yes"} Yes
            .form-check.form-check-inline
              %input.form-check-input{type: "radio", name: "answers[4389][answers]", id: "answers_4389_no", value: "No"}
              %label.form-check-label{for: "answers_4389_no"} No

        .form-group
          .form-check.form-check-inline.consent
            %input.form-check-input{type: "radio", name: "answers[4388][answers]", id: "answers_4388", value: "Yes", required: true}
            %label.form-check-label{for: "answers_4388"}
              %em
                YES, please keep me on your list. I would like to receive VIP Early Access for communities marketed by Shape Properties Corp.
                I may withdraw my consent at anytime by email to
                %a{href:"mailto:info@shapeproperties.com"}info@shapeproperties.com
                or by post to 2020 One Bentall Centre, 505 Burrard Street, Box 206, Vancouver BC V7X&nbsp;1M6.

        .row
          .col.form-group
            %button.submit-btn{aria: {label: "Submit Registration"}} Submit

    %footer
      .container
        .row
          .col-6.col-sm-5.offset-sm-1.col-md-3.offset-md-0.order-md-6.col-lg-2.order-lg-8
            %a.developer-link{href: "https://www.cadillacfairview.com/", target: "_blank"}
              %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/cadillac-fairview-logo.svg"}

          .col-6.col-sm-5.col-md-3.order-md-9.col-lg-2.order-lg-10
            %a.developer-link{href: "http://shapeproperties.com/", target: "_blank"}
              %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/shape-logo.svg"}

          .col-12.col-md-6.order-md-1.col-lg-8.order-lg-1
            %ul.list-inline
              %li.list-inline-item
                T:
                %a{href: "tel:+1.604.788.6608"} 604.788.6608
              %li.list-inline-item
                E:
                %a{href: "mailto:info@liveatcfrc.com"} info@liveatcfrc.com
            %p.disclaimer This is not an offering for sale as such an offer can only be made when accompanied by a disclosure statement. E.&nbsp;&amp;&nbsp;O.E.

    %script{src: "http://www.liveatcfrc.com/assets/modernizr-bundle.js"}
    %script{src: "http://www.liveatcfrc.com/assets/vendor.js"}
    %script{src: "http://www.liveatcfrc.com/assets/app.js"}
