!!!

%html.no-js{lang: "en"}

  %head
    %meta{http: {equiv: "X-UA-Compatible"}, content:"IE=edge"}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "robots", content: "noindex,nofollow"}
    %meta{name: "description", content: "Richmond is a point of pride in Metro Vancouver. A coastal city with outdoor beauty, diverse communities and a thriving metropolitan scene. One that’s closely linked to Vancouver by the SkyTrain and connected to the world by YVR. Its culture and history give it charm, while its continued growth, restaurants and international influence create an unmistakable energy"}

    %title Richmond Centre

    %link{rel: "icon", type: "image/png", href: "http://www.liveatcfrc.com/assets/images/favicon-32x32.png", sizes: "32x32"}
    %link{rel: "icon", type: "image/png", href: "http://www.liveatcfrc.com/assets/images/favicon-16x16.png", sizes: "16x16"}

    %link{rel: "image_src", href: ""}

    %meta{property: "og:title", content: ""}
    %meta{property: "og:type", content: ""}
    %meta{property: "og:url", content: ""}
    %meta{property: "og:image", content: ""}
    %meta{property: "og:site_name", content: ""}
    %meta{property: "og:description", content: ""}

    %link{rel: "stylesheet", media: "all", href: "http://www.liveatcfrc.com/assets/app.css"}

    // Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-54CTVPT');
      // End Google Tag Manager

  %body.zht
    // Google Tag Manager (noscript)
    %noscript
      %iframe{src: "https://www.googletagmanager.com/ns.html?id=GTM-54CTVPT", height: "0", width: "0", style: "display:none;visibility:hidden"}
    // End Google Tag Manager (noscript)

    %header
      .container
        .d-flex.justify-content-end
          %ul.list-inline.header-links
            %li.list-inline-item
              %a{href: "http://www.liveatcfrc.com/"} En
            %li.list-inline-item
              %span 2019 公開預覽
            %li.list-inline-item
              %a.highlight{href: "#spark-registration-form"} 立即登記

        .row
          .col
            %h1{title: "Live at Richmond Centre"}
              %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/live-at-richmond-centre.svg"}

        %hr

        .row
          .col
            %h3.divider-after
              列治文的核心地段將會迎來
              %br
              歎為觀止的變化

    .carousel
      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-arial-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-arial-sm-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-arial-sm-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-arial-767.jpg", alt: "Richmond Centre Arial Image"}

        .callouts
          %a.callout.callout-1{tabindex: "0", data: {toggle: "popover", placement: "left", content: "全新中央廣場", container: ".callouts"}}
          %a.callout.callout-2.callout-square{tabindex: "0", data: {toggle: "popover", placement: "right", content: "Brighouse 天車站", container: ".callouts"}} T
          %a.callout.callout-3{tabindex: "0", data: {toggle: "popover", placement: "bottom", content: " 未來展銷中心", container: ".callouts"}}
          %a.callout.callout-4.callout-arrow{tabindex: "0", data: {toggle: "popover", placement: "right", content: "前往溫哥華國際機場 (YVR)", container: ".callouts"}}
          -# %a.callout.callout-5{tabindex: "0", data: {toggle: "popover", placement: "right", content: "前往列治文醫院", container: ".callouts"}}
          %a.callout.callout-6{tabindex: "0", data: {toggle: "popover", placement: "left", content: "空中花園", container: ".callouts"}}
          %a.callout.callout-7.callout-arrow{tabindex: "0", data: {toggle: "popover", placement: "right", content: "前往 Minoru公園，圖書館， Minoru水上運動中心，Minoru Oval 體育中心‘’", container: ".callouts"}}
          %a.callout.callout-8{tabindex: "0", data: {toggle: "popover", placement: "top", content: "列治文教育局", container: ".callouts"}}
          %a.callout.callout-9{tabindex: "0", data: {toggle: "popover", placement: "left", content: "列治文市政廳", container: ".callouts"}}
        .caption 設計師概念彩現

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-01-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-01-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-01-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption 設計師概念彩現

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-02-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-02-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-02-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption 設計師概念彩現

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-03-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-03-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-03-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption 設計師概念彩現

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-04-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-04-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-04-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption 設計師概念彩現

      .carousel-item
        %picture
          /[if IE 9] <video style="display: none;">
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-991.jpg 991w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-1199.jpg 1199w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-1920.jpg 1920w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-3840.jpg 3840w", media: "(min-width: 768px)"}
          %source{srcset: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-05-767.jpg 767w, http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-sm-05-1534.jpg 1534w", media: "(min-width: 0)"}
          /[if IE 9] </video>
          %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/richmond-centre-rendering-05-991.jpg", alt: "Richmond Centre Murdoch Corner Artist Concept"}
        .caption 設計師概念彩現

    .container
      .row
        .col
          .columns
            %p 作為大溫地區的一個蓬勃發展的重點城市，列治文擁有無限的沿海戶外美景 以及多元文化的社區。方便的天車站密切的鏈接著您於城市間的互動，也可以 快速帶您到溫哥華國際機場(YVR)讓您與世界接軌。 豐富文化和歷史讓這 座城市充滿著魅力。近幾年人口的不斷增長，城市的飛速發展，再加上國際化 的影響讓這裡凝聚著一股不可忽視的能量。
            %p 位於列治文中心的CF Richmond Center未來會從一個市場上領先的購物中心搖身變成世界級的城市核心地帶。這個社區會有老少皆宜的購物、娛樂設施，不僅有大家推崇的國際奢侈品購物區，還會有各式的精品街頭購物區。您可以選擇寧靜的公園，也可以選擇熱鬧的街道和開放式的廣場， 而且最重要的是， 您可以在這裏安居樂業。 為您誠心介紹SHAPE Properties最新力作， RC at CF Richmond Center。有2000個新居室供您選擇，就像這個社區一樣，提供給您一個豐富多彩的生活空間和方式。
            %p Minoru公園，列治文市政廳，加拿大天車線和加拿大頂級的購物中心不僅使得這個地區成為列治文的文化核心地帶，還是大溫地區一大地標性的地段。等待發展完畢，這裏將更加脫穎出列治文的城市文化風格，讓其步入世界最佳城市的行列。

      %hr

      %h4
        RC 的八大看點

      .row.eight-points
        .col-6.col-md-3
          %h5.divider-after
            01.
            %br
            宏偉藍圖
          %p 佔地27英畝，精心規劃的綜合性多功能社區位於列治文中心地段。

        .col-6.col-md-3
          %h5.divider-after
            02.
            %br
            天車站
          %p 幾步之遙到達天車站 Canada Line，變通、快速的抵達溫哥華國際機場，溫哥華市中心以及其他大溫地區。

        .col-6.col-md-3
          %h5.divider-after
            03.
            %br
            位置
          %p 位於列治文最核心的地段，毗鄰Minoru 公園、列治文市政廳和世界頂級零售商店。

        .col-6.col-md-3
          %h5.divider-after
            04.
            %br
            購物、餐飲
            %br
            &amp;娛樂
          %p 新建的露天沿街購物區、餐廳和娛樂場所會讓CF Richmond Center 從一個頂級的購物中心搖身變成一個購物天地。

        .col-6.col-md-3
          %h5.divider-after
            05.
            %br
            物業服務 &amp;
            %br
            安全保衛

          %p 公寓包含安全保卫服务和周到的24小時禮兵服務。私人的專屬代客趴車和園藝服務都在計劃和規劃中。

        .col-6.col-md-3
          %h5.divider-after
            06.
            %br
            居室設計理念
          %p 精緻的室內設計，誘人的城市景觀，寬敞的露臺以及高檔家具配置包括內置空調和豪華家電，極力打造一種獨特的舒適生活體驗。

        .col-6.col-md-3
          %h5.divider-after
            07.
            %br
            私家設施
          %p 超過58000平方呎的設施，包括業主專用的寧靜室外空中花園。

        .col-6.col-md-3
          %h5.divider-after
            08.
            %br
            驗證價值
          %p Cadillac Fairview 和 SHAPE 聯手打造了一個充滿活力的新社區，為購房者、零售商和列治文整個社區建設創造了巨大的價值。

      %hr

      %h2 立即登記

      %form#spark-registration-form{action: "", accept_charset: "UTF-8", method: "post"}
        %input{type: "hidden", name: "source", value: "RC1 Web Registration"}
        %input{type: "hidden", name: "redirect_success", value: "http://liveatcfrc.com/zh/thank-you.html"}
        %input{type: "hidden", name: "are_you_simulated", placeholder: "leave this field blank"}
        %input{type: "hidden", name: "utf8", value: "&#x2713;"}

        .row
          .col-sm-6.form-group
            %input.form-control{type: "text", placeholder: "名字", name: "contact[first_name]", required: true}

          .col-sm-6.form-group
            %input.form-control{type: "text", placeholder: "姓氏", name: "contact[last_name]", required: true}

        .row
          .col-sm-6.form-group
            %input.form-control{type: "text", placeholder: "電子郵箱", name: "contact[email]", required: true}

          .col-sm-6.form-group
            %input.form-control.input-phone{type: "text", placeholder: "電話", name: "contact[phone]"}

        .row
          .col-sm-6.form-group
            %input.form-control.input-postal{type: "text", placeholder: "郵編", name: "contact[postcode]", required: true}

          .col-sm-6.form-group
            %select.form-control{name: "answers[4387][answers]"}
              %option{value: ""} 你是怎麼知道我們的?
              %option{value: "Online Search"} Online Search
              %option{value: "Realtor"} Realtor
              %option{value: "Singage/Walk by/Drive by"} Singage/Walk by/Drive by
              %option{value: "Email Outreach"} Email Outreach
              %option{value: "Community Newspaper"} Community Newspaper
              %option{value: "Chinese Newspaper"} Chinese Newspaper
              %option{value: "Friends and Family"} Friends and Family

        .row
          .col-sm-6.form-group
            %p 你是地產經紀嗎?
            .form-check.form-check-inline
              %input.form-check-input{type: "radio", name: "answers[4390][answers]", value: "Yes"}
              %label.form-check-label 是
            .form-check.form-check-inline
              %input.form-check-input{type: "radio", name: "answers[4390][answers]", value: "No"}
              %label.form-check-label 否

          .col-sm-6.form-group
            %p 你目前跟地產經紀有合作嗎?
            .form-check.form-check-inline
              %input.form-check-input{type: "radio", name: "answers[4389][answers]", value: "Yes"}
              %label.form-check-label 是
            .form-check.form-check-inline
              %input.form-check-input{type: "radio", name: "answers[4389][answers]", value: "No"}
              %label.form-check-label 否

        .form-group
          .form-check.form-check-inline.consent
            %input.form-check-input{type: "radio", name: "answers[4388][answers]", value: "Yes", required: true}
            %label.form-check-label
              %em
                請把我保留在你的名單上。我希望獲得SHAPE PROPERTIES CORP推出的社區VIP 預覽。我可以隨時通過電子郵件
                %a{href: "mailto:info@shapeproperties.com"} INFO@SHAPEPROPERTIES.COM，
                或者是通過郵寄至2020 ONE BENTALL CENTRE, 505 BURRARD STREET, BOX 206, VANCOUVER BC V7X 1M6 撤銷我的許可

        .row
          .col.form-group
            %button.submit-btn{} 提交

    %footer
      .container
        .row
          .col-6.col-sm-5.offset-sm-1.col-md-3.offset-md-0.order-md-6.col-lg-2.order-lg-8
            %a.developer-link{href: "https://www.cadillacfairview.com/", target: "_blank"}
              %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/cadillac-fairview-logo.svg"}

          .col-6.col-sm-5.col-md-3.order-md-9.col-lg-2.order-lg-10
            %a.developer-link{href: "http://shapeproperties.com/", target: "_blank"}
              %img.image-responsive{src: "http://www.liveatcfrc.com/assets/images/shape-logo.svg"}

          .col-12.col-md-6.order-md-1.col-lg-8.order-lg-1
            %ul.list-inline
              %li.list-inline-item
                T:
                %a{href: "tel:+1.604.788.6608"} 604.788.6608
              %li.list-inline-item
                E:
                %a{href: "mailto:info@liveatcfrc.com"} info@liveatcfrc.com

            %p.disclaimer This is not an offering for sale as such an o er can only be made when accompanied by a disclosure statement. E.&nbsp;&amp;&nbsp;O.E.

    %script{src: "http://www.liveatcfrc.com/assets/modernizr-bundle.js"}
    %script{src: "http://www.liveatcfrc.com/assets/vendor.js"}
    %script{src: "http://www.liveatcfrc.com/assets/app.js"}
