.disclosure {
  height: 100%;
  background-color: $pink-white;

  h1,
  h2,
  h3,
  p,
  a,
  span,
  label {
    color: $white;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    width: 100%;
  }

  h2,
  .disclosure-link {
    font-family: $font-family;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2rem;

    &::after {
      display: block;
      width: 26px;
      height: 3px;
      margin-top: 2rem;

      background-color: $white;

      content: "";
    }
  }

  .disclosure-link {
    font-size: 1.25rem;
  }

  .tooltip {
    opacity: 1;

    font-size: 0.9rem;
    font-family: $font-family-serif;
    text-transform: none;

    transition: opacity 300ms ease;

    &.hidden {
      opacity: 0;
    }
  }

  .disclosure-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 3rem 1.5rem;

    background-color: $red;
  }

  .disclosure-checks {
    width: 100%;

    .disclosure-confirmation {
      min-width: 15px;
      height: 15px;

      background-color: $red;
      border: 1px solid $white;
      border-radius: 50%;
      outline: none;
      cursor: no-drop;

      transition: background-color 300ms ease;

      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;

      &.enabled {
        cursor: pointer;
      }

      &:checked {
        background-color: $white;
      }
    }
  }

  .disclosure-item {
    margin-bottom: 1rem;

    label {
      margin-left: 0.75rem;
      font-size: 0.9rem;
    }

    &:nth-of-type(even) {
      margin-bottom: 2rem;
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      display: flex;
    }
  }

  #agree-btn {
    width: 200px;

    border: 1px solid $white;
    opacity: 0.5;

    transition: opacity 300ms ease;

    pointer-events: none;

    &.enabled {
      opacity: 1;
      pointer-events: auto;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  main {
    position: relative;
    top: 0;
    min-height: 100vh;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
  }
}

@include media-breakpoint-up(md) {

  .disclosure {

    main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@include media-breakpoint-up(xl) {

  .disclosure {

    .disclosure-checks {

      .disclosure-confirmation {
        width: 25px;
        height: 25px;
      }
    }

    .disclosure-inner {
      padding: 3rem 6rem;
    }

    h1 {
      margin-bottom: 0;
      font-size: 3rem;
    }
  }
}
