@font-face {
  font-weight: normal;
  font-family: "Electra LT Std";
  font-style: normal;
  src: url("./fonts/ElectraLTStd-Regular.eot");
  src: url("./fonts/ElectraLTStd-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ElectraLTStd-Regular.woff2") format("woff2"),
    url("./fonts/ElectraLTStd-Regular.woff") format("woff"),
    url("./fonts/ElectraLTStd-Regular.ttf") format("truetype"),
    url("./fonts/ElectraLTStd-Regular.svg#ElectraLTStd-Regular") format("svg");

  font-display: swap;
}
@font-face {
  font-weight: normal;
  font-family: "Proxima Nova";
  font-style: normal;
  src: url("./fonts/ProximaNova-Regular.eot");
  src: url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("./fonts/ProximaNova-Regular.woff") format("woff"),
    url("./fonts/ProximaNova-Regular.ttf") format("truetype"),
    url("./fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");

  font-display: swap;
}
@font-face {
  font-weight: bold;
  font-family: "Proxima Nova";
  font-style: normal;
  src: url("./fonts/ProximaNova-Bold.eot");
  src: url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("./fonts/ProximaNova-Bold.woff") format("woff"),
    url("./fonts/ProximaNova-Bold.ttf") format("truetype"),
    url("./fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");

  font-display: swap;
}