#footer {
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: $black;

  color: $white;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $brand-secondary;
    }
  }

  .contacts {
    margin-bottom: 2rem;

    .contact-link {

      span {
        margin-right: 0.25rem;

        color: $brand-primary;
        font-weight: bold;
        font-size: 0.9rem;
        font-family: $font-family;
      }
    }
  }

  .developers {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .developer-link {
      display: inline-block;

      &:not(:first-child) {
        margin-top: 1rem;
      }

      svg {
        height: 28px;
        transition: transform 0.3s ease-out;

        &.cf-logo {
          width: 129px;
        }
  
        &.shape-logo {
          width: 101px;
          height: 29px;
        }

        path {
          transition: fill 0.3s ease;
          fill: $white;
        }
      }

      &:hover {

        svg {
          transform: scale(1.02);

          path {
            fill: $brand-secondary;
            
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {

  #footer {

    .footer-inner {
      display: grid;
      grid-template-areas: "contacts developers"
        "disclaimer disclaimer";
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
    }

    .contacts {
      display: flex;
      flex-direction: row;
      grid-area: contacts;

      .contact-link {

        &:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }

    .developers {
      flex-direction: row;
      grid-area: developers;
      justify-self: end;

      .developer-link {

        &:not(:first-child) {
          margin-top: 0;
          margin-left: 2rem;
        }
      }
    }

    .disclaimer {
      grid-area: disclaimer;
    }
  }
}