@keyframes fadeInOut {

  0% { opacity: 0;}

  4% { opacity: 1;}

  29% { opacity: 1;}

  33% { opacity: 0;}

  100% { opacity: 0;}
}

#intro {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .intro-image-grid {
    display: grid;
    grid-template-areas: ". image2 ."
      "image1 . image3";
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr 2fr 3fr;

    .grid-image {
      position: relative;
      height: 0;
      padding-bottom: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;

        opacity: 0;
      }
    }

    .grid-image-1 {
      grid-area: image1;

      .rc-logo {
        width: 100%;
        background-color: $bronze-dark;
        
        
        path {
          fill: $white;
        }
      }
    }

    .grid-image-2 {
      grid-area: image2;
      background-color: $brand-primary;

      img {
        @for $i from 2 through 4 {
          &:nth-child(#{$i}) {
            animation-delay: 5s * ($i - 1);
          }
        }
      }
    }

    .grid-image-3 {
      grid-area: image3;
      background-color: $black;

      img {
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation-delay: 5s * ($i - 1) + 2.5s;
          }
        }
      }
    }
  }

  .intro-copy {
    margin-top: 2rem;
  }

  &.reveal {

    .intro-copy {
      visibility: hidden;
      opacity: 0;

      transition-timing-function: ease-out;
      transition-duration: 0.6s;
      transition-property: opacity;
    }
    
    .grid-image {

      img {
        opacity: 0;
      }
    }
  
    &.in-viewport {

      .intro-copy {
        visibility: visible;
        opacity: 1;
      }

      .grid-image {

        img {
          animation-name: fadeInOut;
          animation-duration: 20s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {

  #intro {

    .section-inner {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 3rem 1fr;
    }

    .intro-image-grid {
      grid-row: 1;
      grid-column: 3;
    }

    .intro-copy {
      grid-row: 1;
      grid-column: 1;
      align-self: center;
    }
  }
}
@include media-breakpoint-up(xl) {

  #intro {

    .section-inner {
      grid-template-columns: 1fr 4rem 1.5fr;
    }
  }
}