#register {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $brand-secondary;

  form {
    font-family: $font-family;
  }

  label {
    font-size: 0.7rem;
    text-transform: uppercase;

    &.error {
      color: $brand-primary;
      font-size: 0.6rem;
    }
  }

  .form-control {
    padding-right: 0;
    padding-left: 0;

    background-color: transparent;
    border-color: $gray-500;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    color: $black;

    &::placeholder {
      color: $gray-800;
      font-size: 0.7rem;
      text-transform: uppercase;

      transition: color 0.3s ease;
    }

    &:focus {
      border-color: $brand-primary;
      outline: none;
      box-shadow: none;

      &::placeholder {
        color: $gray-600;
      }
    }
  }

  .custom-select {
    padding-left: 0;

    background-color: transparent;
    border-color: $gray-500;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    color: $black;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .form-check-inline {

    .form-check-input {
      flex-shrink: 0;
    }
  }

  .form-check-label {
    font-family: $font-family-serif;
    text-transform: none;

    em {
      font-family: $font-family;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  .reveal {
    visibility: hidden;
    opacity: 0;

    transition-timing-function: ease-out;
    transition-duration: 0.6s;
    transition-property: opacity;

    &.in-viewport {
      visibility: visible;     
      opacity: 1;
    }
    
  }
}