$brand-primary: #fff;
$white: #fff;
$black: #000;
$bronze: #bf816a;
$bronze-light: #c89882;
$bronze-dark: #8d644c;
$teal: #568c99;
$body-copy: #2d3139;

$font-family: 'Electra LH Display', 'Helvetica Neue', helvetica, sans-serif;
$font-family-serif: 'Electra LH Cursive', 'Helvetica Neue', helvetica, sans-serif;
$font-family-bold: 'Electra LH Bold', 'Helvetica Neue', helvetica, sans-serif;
$font-family-sans: 'Proxima Nova Light', 'Helvetica Neue', helvetica, sans-serif;
$font-family-sans-bold: 'Proxima Nova Semibold', 'Helvetica Neue', helvetica, sans-serif;